[submodule "libs/nanovg"]
	path = libs/nanovg
	url = https://github.com/eXhumer/nanovg-deko3d.git
[submodule "libs/libretro-common"]
	path = libs/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
